@charset "utf-8";

*{
    margin: 0;padding: 0;
    text-decoration: none;
    box-sizing: border-box;
    border: 1px inset red;
}

:root{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("/img/background.jpg");
    background-size:cover;
    background-repeat: no-repeat;

}

body{
    width: 80%;
    max-width: 1900px;
    min-width: 800px;
    margin: 0 auto;
}

header section#he1{
    color: white;
    background-color: rgba(0, 0, 0, 80%);
    display: flex;
    justify-content: end;
    img{
        width: 80px;
    }
}

nav#nav1 ul{
    list-style: none;
    background-color: rgba(173, 216, 230, 0.8);
}

nav#nav1 ul li{
    display: inline;
    
    a{
    font-family: Tahoma, Verdana;
    font-size: 1.2rem;

    }
}
